
<main class="container">

  <h2>Kategorier</h2>
  
  <% @categories.each do |category| %>
    <div class="category-box">
      <a href="/categories/<%= category["id"] %>">
        <%= category["name"] %>
      </a>
    </div>
  <% end %>

</main>

