<h2>Logga in</h2>

<% if @error %>
  <p style="color:red;"><%= h @error %></p>
<% end %>

<form method="post" action="/login">
  <input type="text" name="username" placeholder="Användarnamn" required><br><br>
  <input type="password" name="password" placeholder="Lösenord" required><br><br>
  <button>Logga in</button>
</form>