<h2>Registrera</h2>

<form method="post" action="/registrera">
  <input type="text" name="username" placeholder="Användarnamn" required><br><br>
  <input type="password" name="password" placeholder="Lösenord" required><br><br>
  <button>Skapa konto</button>
</form>